{% extends 'theme/theme_front.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block main %}

    <h1 class="text-center display-5 mt-5">Connexion</h1>
    <div class="heading-line"></div>
    
    <div class="container my-3">

        {% if error %}
            <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="row">
            <div class="col-md-7 mx-auto p-4 bg-white shadow">
                <form method="post">
                    <div class="mb-3">
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>    
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword">Mot de passe</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    </div>
                    <div class="mb-3">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>
                    <div class="mb-3">
                        {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html #}
                        <label>
                            <input type="checkbox" name="_remember_me"> Se souvenir de moi
                        </label>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit" formnovalidate>Se connecter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
        
{% endblock %}
