<footer class="py-1 bg-dark">
    <div class="container text-white">
        <div class="row text-center">
            <div class="col-md-4">
                <p>Espace réservé</p>
            </div>
            <div class="col-md-4">
                <p>Le blog de Jean Dupont</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-copyright" aria-hidden="true"></i> {{ 'now'|date("Y") }}
            </div>
        </div>
    </div>
</footer>