<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('visitor.welcome.index') }}"><img src="{{ asset('favicon/favicon-32x32.png') }}" alt="Le logo de medecine-du-monde.fr"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('visitor.welcome.index') }}">Retour au site</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app.logout') }}">Déconnexion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>