{% extends "theme/theme_admin.html.twig" %}

{% block title %}Espace d'administration{% endblock %}

{% block adminContent %}
    <h1 class="text-center my-3 display-5">Espace d'administation</h1>

    
{% endblock %}