{% extends "theme/theme_front.html.twig" %}

{% block title %}En attente de la confirmation de votre compte{% endblock %}

{% block main %}
    <div class="container mt-5 bg-white p-4 shadow text-center">
        <h1 class="display-5 my-3">En attente...</h1>
        <p>Un email vous a été envoyé pour la confirmation de votre compte.</p>
    </div>
{% endblock %}