{% extends "theme/theme_front.html.twig" %}

{% block title %}Page d'accueil{% endblock %}

{% block intro_section %}
    <section class="welcome-index-intro-section d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 intro-section-text text-center">
                    <h1 class="display-2">
                        <span class="display-2--intro">Hello World!</span>
                        <span class="display-2--description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident!</span>
                    </h1>
                    <a href="" class="btn btn-lg btn-primary">Lire les artcles</a>
                </div>
                <div class="col-md-5 intro-section-image">
                    <div class="text-center">
                        <img class="img-fluid" src="{{ asset('image/static/welcome-intro-section-image.svg') }}" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block main %}
    <div class="container my-5 bg-light shadow">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem sit placeat commodi qui animi ad quidem eveniet, incidunt tempore ullam velit odio porro praesentium corrupti, veritatis doloremque debitis error? Sunt?
        Delectus ab eos tenetur nihil dolorum? Libero, eligendi aliquam! Facilis, perspiciatis voluptate deserunt porro ipsam maiores dolor, fuga explicabo atque, quaerat molestias debitis modi excepturi doloribus adipisci ab pariatur ducimus.
        Quod saepe culpa, sapiente, delectus earum quasi laboriosam harum commodi, asperiores aliquam eos quaerat ipsum? Molestiae velit sint placeat hic, blanditiis sit numquam deleniti qui illo ipsum nam rem suscipit.
        Maiores excepturi ea exercitationem quae, iusto magnam cum, modi nesciunt rem hic consectetur totam id veritatis repellendus consequatur quaerat. Facilis, illo. Tempora magni, quasi harum adipisci possimus quibusdam neque delectus?
        Dignissimos, quis officia nobis saepe reiciendis earum voluptas natus assumenda quo. Quasi veniam impedit tempora fugit, saepe iste magni, soluta doloribus pariatur optio assumenda, mollitia unde non itaque numquam. Nam?
        Dolorem dignissimos reiciendis, voluptas unde nihil ut consequatur, quis quibusdam perferendis sint molestias harum repudiandae. Ad possimus nesciunt pariatur tenetur nam aspernatur libero obcaecati praesentium, quos odit temporibus culpa quidem!
        Nam expedita eius amet accusamus qui officiis, excepturi aliquam minima. Ipsa unde, laudantium laborum esse praesentium autem deleniti, sunt saepe numquam adipisci a beatae illo impedit sequi voluptatum debitis iure.
        Reprehenderit atque error dolore fuga! Quae esse magni qui saepe ratione sint, harum aliquam quas ducimus neque architecto at consequuntur, ab labore, commodi expedita. Aliquam omnis beatae non sed enim.</p>
    </div>
{% endblock %}